<div class="modal fade" tabindex="-1" id="show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Token</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center align-items flex-column"><img
                src="https://dummyimage.com/300x200/000/fff"></div>
        <h5 class="my-3" style="text-align: center">Título</h5>
        <p class="my-3" style="text-align: center">Descripción</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Listo</button>
      </div>
    </div>
  </div>
</div>